.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}

.panel{
  background: navy;
  background-size: cover;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  color: white;
  text-align: center;
  flex: 1; /*it will distribute along the blank space on the page */
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition:
  font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
  background 0.2s;
}
.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
 /*  border: 1px solid; */
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* ANIMATIONS */

.panel > *:first-child{transform: translateY(-100%);}
.panel.open-active > *:first-child{transform: translateY(0);}
.panel >*:last-child{transform: translateY(100%);}
.panel.open-active >*:last-child{transform: translateY(0);}

.panel.open{
  flex: 5;
  font-size: 40px;
}





.panel1{
  background-image: url("https://i.pinimg.com/originals/63/1a/42/631a4296d3d105a6709d58f800a7894a.jpg");
}

.panel2{
  background-image: url("https://wallpaperaccess.com/full/1698808.jpg");
}

.panel3{
  background-image: url("https://cdn.wallpapersafari.com/17/25/oWXnIC.jpg");
}
.panel4{
  background-image: url("https://wallpapercave.com/wp/wp2229201.jpg");
}

.panel p{
  text-transform: uppercase;
      font-family: 'Amatic SC', cursive;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
      font-size: 2em;
}